* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF; /* Very light gray for subtle contrast */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}