.inputField {
    margin-block: 0.4rem;
    width: 100%;
    max-width: 50vw;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    &:focus {
        border-color: #007bff;
    }

    &.untouched {
        border-color: #ccc;
    }

    &.valid {
        border-color: #28a745;
        border-width: thick;
        &:focus {
            border-color: #28a745;
        }
    }

    &.invalid {
        border-color: #dc3545;
        border-width: thick;
        &:focus {
            border-color: #dc3545;
        }
    }
}
