.likertScale {
  margin: 0 1rem;
}
.likertScale .likertButton {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.likertScale .likertButton.selected {
  background-color: #4caf50; /* Example 'selected' state color, green */
  color: white;
}

.likertScale .likertButton:not(.selected):hover {
  background-color: #f0f0f0; /* Lighter gray when hovered but not selected */
}

.likertScale .submit-button {
  padding: 12px 25px;
  margin: 10px;
  background-color: #007bff; /* Different color for submit button */
  color: white;
  border: none;
  cursor: pointer;
  align-items: center;
}

.likertScale .submit-button:disabled {
  background-color: #aaa; /* Disabled state */
  cursor: not-allowed;
}

.likertScale .submit-button:hover:not{
  background-color: #0056b3; /* Darker blue when hovered */
}

.likertScaleContainer {
  display: flex;
  align-items: center;
}

.submit-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.leftLikertLabel {
  flex: 1;
  text-align: right;
  margin-inline: 0.5rem;
}

.rightLikertLabel {
  flex: 1;
  text-align: left;
  margin-inline: 0.5rem;
}

button {
  border-radius: 8px;
  border: 2px solid #999999; /* Medium gray border */
  padding: 0.4em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff; /* White background */
  color: #333; /* Darker gray for text */
  cursor: pointer;
  transition: border-color 0.1s, background-color 0.1s, color 0.1s, box-shadow 0.1s;
  margin: 0.2rem;
  &.selected {
    background-color: #007bff; /* Different color for submit button */
    color: white;
  }
}


button:hover {
  border: 2px solid #333333; /* Medium gray border */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Add shadow on hover for emphasis */
}

.submit-button:hover {
  color: white
}


button:focus,
button:focus-visible {
  outline: 2px solid #000000; /* Darker gray focus ring for accessibility */
}

p {
  color: #666; /* Lighter gray for body text */
}
